# Basic String Operations

In [1]:
# printing the string a
a="Praveen"
print(a)

Praveen

## Capitalization Operation

In [2]:
str = "suryadevara"
x = str.capitalize() # Turns Firts Element into Capital.
print (x)

Suryadevara

## Count Operation

In [3]:
str = "Suryadevara"
x = str.count("a") # Counting a in string
print(x)

3

## Slice Operation

In [4]:
# spliting string a by indexes
a="Praveen"
print(a[3])
b="suryadevara"
print(b[2:9])

v
ryadeva

## Endswith Operation

In [5]:
str = "praveen"
x = str.endswith("ct") # checking if String ends With 'ct'
print(x)

False

# Length, Uppercase, Lowercase, Replace Operations on String

In [6]:
# applying length, upper, lower, replace functions on string a
a="suryadevara"
print(len(a))
print(a.upper())
print(a.lower())
print(a.replace("H","J"))

11
SURYADEVARA
suryadevara
suryadevara

## String Concatenation

In [7]:
# concating the string a and b to c
a="praveen"
b="suryadevara"
c=a+" "+b
c

'praveen suryadevara'

## Title Operation

In [8]:
y = "praveen suryadevara"
x = y.title() # Changes the First Letter of Every Word into Upper Case.
print(x)

Praveen Suryadevara

## Count Operation

In [9]:
str = "praveen suryadevara, venkata naga sai praveen"
x = str.count("praveen") # returns the number of occurrences of a substring in the string.
print(x)

2

## Center Operation

In [10]:
str = "Praveen"
x = str.center(20) # Gives length of string as 20
print(x)

      Praveen

## Search Operation

In [11]:
# find() - Returns the lowest index of the substring if found 
x="praveen suryadevara"
print(x.find("suryadevara"))

8

## Endswith Operation

In [12]:
# Checking if the String Ends with T
a="venkata naga sai praveen"
print(a.endswith("t"))

False

## Expandtab Operation

In [16]:
string = "praveen\tsuryadevara"
result = string.expandtabs(2)# gives amount of space to be substituted with the "\t" symbol in the string
print(result)

praveen suryadevara

## Join Operation

In [17]:
separator = "-"
list = ["praveen", "suryadevara"]
result = separator.join(list) # joins a concatenated String with separator
print(result)

praveen-suryadevara

## Splitline Operation

In [18]:
str = "praveen\nsuryadevara"
result = str.splitlines()#Split the lines at line boundaries
print(result)

['praveen', 'suryadevara']

## Regex Functions

In [22]:
#Importing Regex module
import re

## Finding Function

In [23]:
str = "praveen suryadevara" 
x = re.findall("p", str) # Printing list of all the matches
print(x)

['p']

## Searching Function

In [24]:
str = "Praveen suryadevara"
x = re.search("suryadevara", str) #Searching for based in the string
print(x)

<re.Match object; span=(8, 19), match='suryadevara'>

## Split Function

In [26]:
str = "venkata naga sai parveen suryadevara"
x = re.split("\s", str) # Split String at White Space.
print(x)

['venkata', 'naga', 'sai', 'parveen', 'suryadevara']

## Sub Function

In [27]:
str = "venkata naga sai parveen suryadevara"
x = re.sub("\s", "*", str) #Replace Spaces With *
print(x)

venkata*naga*sai*parveen*suryadevara

## Extraction of Letters with Metacharacter []

In [28]:
str = "venkata naga sai parveen suryadevara"
#Find all lower case characters alphabetically between "a" and "n"
x = re.findall("[a-n]", str)
print(x)

['e', 'n', 'k', 'a', 'a', 'n', 'a', 'g', 'a', 'a', 'i', 'a', 'e', 'e', 'n', 'a', 'd', 'e', 'a', 'a']

## Extraction of Digits with Metacharacter []

In [29]:
str = "Text Based Analysis class at 2:30"
#Find all digit characters:
x = re.findall("\d", str)
print(x)

['2', '3', '0']